/* .footer-wrap {
    min-height: calc(100vh - 400px); 
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  
  .footer-container {
    /* Ваши стили для футера */
  }
  
  